        <div class="row text-center justify-content-around mt-5">

          <div class="col-md-3 col-sm-8">
            <div data-aos="zoom-in" data-aos-duration="1000">
              <h4>Cleanaroo</h4>
              <%= link_to "https://www.cleanaroo.app/", target: "_blank" do %>
                <div class="d-flex">
                  <%= image_tag "cleanaroo-page1.png", class: "mobile-device-app " %>
                  <%= image_tag "cleanaroo.png", class: "mobile-device-app rotate" %>
                </div>
              <% end %>
              <p>Cleanaroo is an user friendly mobile app that matches busy vacation rental property managers with the best cleaner offering them high quality and reliable cleaning service. </p>
            </div>
          </div>

          <div class="col-md-3 col-sm-8">
            <div data-aos="zoom-in" data-aos-duration="1000">
              <h4>Plantify</h4>
              <%= link_to "https://plantyfy.herokuapp.com/", target: "_blank" do %>
                <%= image_tag "plantify.png", class: "laptop-device-app" %>
              <% end %>
              <p>Plantify is a renting plant service for variety seeking, busy and gardening-skills-lacking people, wanting to get assistance in choosing the right plants to enjoy a home filled with green love.</p>
            </div>
          </div>

          <div class="col-md-3 col-sm-8">
            <div data-aos="zoom-in" data-aos-duration="1000">
              <h4>Mr Cocktail</h4>
              <%= link_to "https://mrt-cocktail.herokuapp.com/", target: "_blank" do %>
                  <%= image_tag "mr-cocktail.png", class: "project-device-app " %>
              <% end %>
              <p>A cocktail listing and creation platform. Users can view cocktails listed and add their own creation. </p>
            </div>
          </div>

        </div>

