<div class="container-fluid margin-top10">
  <div class="title-dot row align-items-center">
    <div data-aos="fade-right" data-aos-duration="1000" class="col-md-4 col-sm-3">
      <hr class="dots animate animate-left">
    </div>
    <h1 data-aos="zoom-in" data-aos-duration="1000" class="col-md-4 col-sm-6 text-center">Projects</h1>
    <div data-aos="fade-left" data-aos-duration="1000" class="col-md-4 col-sm-3">
      <hr class="dots animate animate-left">
    </div>
  </div>
</div>

<div class="container">
  <div class="section-box d-flex">
    <div class="row justify-content-between">

      <div data-aos="zoom-in" data-aos-duration="1500" class="col-md-4 col-sm-10 ">
        <%= image_tag('laptop-plant.svg', class: "image-align") %>
      </div>

      <div class="col-md-8 col-sm-8">

        <div data-aos="fade-down-left" data-aos-duration="1000">
          <p>Always excited by the latest tech ideas, working in ad tech company for the last 4 years, I fell in love with the idea and opportunity to challenge myself on the other side of the screen. Graduated from a coding bootcamp I find it really satisfying to be able to build something.</p>
          <p>Coding adheres to no limitations. I code because I believe in learning by doing. </p>
          <p>Here's a selection of some recent work. I've done these projects to sharpen my skills. For more recent work, you can visit my Github profile.
        </div>


        <div data-aos="flip-down" data-aos-duration="1000">
          <p class="color-pink font-weight-bold">My current stack: </p>
        </div>

        <div class="d-flex ">
          <div class="row justify-content-between">

            <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="100" class="col-md-2 col-sm-4 text-center">
              <%= image_tag('ruby-on-rails.png', class: "small-image") %>
              <p class="text-center">Ruby on Rails</p>
            </div>
            <div data-aos="zoom-in" data-aos-duration="2000"  data-aos-delay="400" class="col-md-2 col-sm-4 text-center">
              <%= image_tag('es6.png', class: "small-image") %>
              <p class="text-center">Javascript ES6</p>
            </div>
            <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="700" class="col-md-2 col-sm-4 text-center">
              <%= image_tag('html5.png', class: "small-image") %>
              <p class="text-center">HTML5</p>
            </div>
            <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="1100" class="col-md-2 col-sm-4 text-center">
              <%= image_tag('css.png', class: "small-image") %>
              <p class="text-center">CSS</p>
            </div>
            <div data-aos="zoom-in" data-aos-duration="2000"  data-aos-delay="1400" class="col-md-2 col-sm-4 text-center">
              <%= image_tag('mySQL.png', class: "small-image") %>
              <p class="text-center">MySQL</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <%= render 'pages/carousel' %>
</div>
