<div class="container-fluid margin-top10" id="projects">
  <div class="title-dot row align-items-center">
    <div data-aos="fade-right" data-aos-duration="1000" class="col-md-4 col-sm-3">
      <hr class="dots animate animate-left" id="dots-blue">
    </div>
    <h1 data-aos="zoom-in" data-aos-duration="1000" class="col-md-4 col-sm-6 text-center text-blue">Projects</h1>
    <div data-aos="fade-left" data-aos-duration="1000" class="col-md-4 col-sm-3">
      <hr class="dots animate animate-left" id="dots-blue">
    </div>
  </div>
</div>

<div class="container">
  <div class="section-box d-flex">
    <div class="row justify-content-between p-mobile">

      <div data-aos="zoom-in" data-aos-duration="1500" class="col-md-4 col-sm-10 ">
        <%= render 'pages/projects-icon' %>
      </div>

      <div class="col-md-8 col-sm-8">

        <div data-aos="fade-down-left" data-aos-duration="1000">
          <p>Always excited by the latest tech ideas, working in ad tech company for the last 4 years, I fell in love with the idea and opportunity to challenge myself on the other side of the screen. Graduated from a coding bootcamp I find it really satisfying to be able to build something.</p>
          <p>Coding adheres to no limitations. I code because I believe in <span class="outline text-blue bigger">learning by doing</span>. </p>
          <p>Here's a selection of some recent work. I've done these projects to sharpen my skills. For more recent work, you can visit my
            <%= link_to "https://github.com/mrtn-a/", target: "_blank" do %>
              <span class="outline text-blue bigger" id="link-animation">GitHub</span>
            <% end %>
          profile. </p>
        </div>

        </div>

        <div class="margin-top10 position align-items-center ">



          <div data-aos="zoom-in" data-aos-duration="1000">
            <h2 class="text-blue size-3 magin-right-flexible">My <span class="text-green">current</span> stack: </h2>
          </div>

          <div class="d-flex">
            <div class="row justify-content-between" id="stack">

              <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="100"
              class="col-md-2 col-sm-4 text-center">
                <%= image_tag('ruby-on-rails.png', class: "small-image") %>
                <p class="text-center">Ruby on Rails</p>
              </div>
              <div data-aos="zoom-in" data-aos-duration="2000"  data-aos-delay="400" class="col-md-2 col-sm-4 text-center">
                <%= image_tag('js.png', class: "small-image") %>
                <p class="text-center">Javascript ES6</p>
              </div>
              <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="700" class="col-md-2 col-sm-4 text-center">
                <%= image_tag('html.png', class: "small-image") %>
                <p class="text-center">HTML5</p>
              </div>
              <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="1100" class="col-md-2 col-sm-4 text-center">
                <%= image_tag('css1.png', class: "small-image") %>
                <p class="text-center">CSS</p>
              </div>
              <div data-aos="zoom-in" data-aos-duration="2000"  data-aos-delay="1400" class="col-md-2 col-sm-4 text-center">
                <%= image_tag('react.png', class: "small-image") %>
                <p class="text-center">React</p>
              </div>              
              <div data-aos="zoom-in" data-aos-duration="2000"  data-aos-delay="1700" class="col-md-2 col-sm-4 text-center">
                <%= image_tag('mySQL.png', class: "small-image") %>
                <p class="text-center">MySQL</p>
              </div>

            </div>
          </div>

        </div>
<!--       </div>
 -->
    </div>
  </div>

  <%= render 'pages/carousel' %>
</div>
