<div class="banner">
  <div class="rellax" data-rellax-speed="-2">
    <h1> <span id="banner-typed-text"></span> </h1>
    <h3 class="fade-in">always smiling full stack web developer</h3>
  </div>
</div>

<!-- main text -->
<div class="bg">
  <div class="container margin-top10">

  <!-- about -->
    <div class="section-box d-flex">
      <div class="row text-center">
        <div class="col-md-4 col-sm-8 ">
          <div data-aos="fade-down-right" data-aos-duration="1000" class="title">
            <h1>About</h1>
          </div>
        </div>

        <div class="col-md-8 col-sm-8">
          <div data-aos="fade-down-left" data-aos-duration="1000">
            <p>Tech-savvy with a business background, I’ve spend the last 6 months on combining my full time job with a web development coding bootcamp at Le Wagon</p>
            <p> I do not give up easily. Committing most of my evenings (loong evenings!) and weekends, with a smile on my face, I’ve not only learnt to code but also how to manage my time efficiently, prioritise tasks and excelled multitasking! I understand and can build tools that solve real life problems. It makes me super happy! </p>
          </div>
        </div>
        <div data-aos="zoom-in" data-aos-duration="1500">
          <%= image_tag('girl.svg', size: "300x270", class: "img-girl") %>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- triangle -->
    <!-- <div class="wrapper-gold rellax" data-rellax-speed="-2"></div> -->

  <!-- projects -->


  <div class="container-fluid">
    <div class="title-dot row align-items-center">
      <div data-aos="fade-right" data-aos-duration="1000" class="col-md-4 col-sm-3">
        <hr class="dots animate animate-left">
      </div>
      <h1 data-aos="zoom-in" data-aos-duration="1000" class="col-md-4 col-sm-6 text-center">Projects</h1>
      <div data-aos="fade-left" data-aos-duration="1000" class="col-md-4 col-sm-3">
        <hr class="dots animate animate-left">
      </div>
    </div>
  </div>







  <div class="container margin-top10">

    <div class="section-box d-flex">
      <div class="row text-center">
        <div class="col-md-4 col-sm-8 ">

          <div data-aos="fade-down-right" data-aos-duration="1000" class="title">
            <h1>Projects</h1>
          </div>
        </div>

        <div class="col-md-8 col-sm-8">
          <div data-aos="fade-down-left" data-aos-duration="1000">
            <p>Coding adheres to no limitations. I code because I believe in learning by doing. </p>
            <p>My current stack: Ruby on Rails, Javascript ES6, HTML5, CSS and MySQL</p>
          </div>
        </div>

      <!-- built projects -->
        <div class="row text-center justify-content-around mt-5">

          <!-- cleanaroo -->
          <div class="col-md-3 col-sm-8">
            <div data-aos="zoom-in" data-aos-duration="1000">
              <h4>Cleanaroo</h4>
              <%= link_to "https://www.cleanaroo.app/", target: "_blank" do %>
                <div class="d-flex">
                  <%= image_tag "cleanaroo-page1.png", class: "mobile-device-app " %>
                  <%= image_tag "cleanaroo.png", class: "mobile-device-app rotate" %>
                </div>
              <% end %>
              <p>Cleanaroo is an user friendly mobile app that matches busy vacation rental property managers with the best cleaner offering them high quality and reliable cleaning service. </p>
            </div>
          </div>

        <!-- plantify -->
          <div class="col-md-3 col-sm-8">
            <div data-aos="zoom-in" data-aos-duration="1000">
              <h4>Plantify</h4>
              <%= link_to "https://plantyfy.herokuapp.com/", target: "_blank" do %>
                <%= image_tag "plantify.png", class: "laptop-device-app" %>
              <% end %>
              <p>Plantify is a renting plant service for variety seeking, busy and gardening-skills-lacking people, wanting to get assistance in choosing the right plants to enjoy a home filled with green love.</p>
            </div>
          </div>

        <!-- mr cocktail -->
          <div class="col-md-3 col-sm-8">
            <div data-aos="zoom-in" data-aos-duration="1000">
              <h4>Mr Cocktail</h4>
              <%= link_to "https://mrt-cocktail.herokuapp.com/", target: "_blank" do %>
                  <%= image_tag "mr-cocktail.png", class: "project-device-app " %>
              <% end %>
              <p>Cleanaroo is an user friendly mobile app that matches busy vacation rental property managers with the best cleaner offering them high quality and reliable cleaning service. </p>
            </div>
          </div>

        </div>
      </div>

    </div> <!-- projects end -->
  </div>


<!--  <%= image_tag('idea.png', size: "300x270", class: "img-shadow") %>
 -->

 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

